Package: lumus
Version: 1.0.1
Architecture: amd64
Maintainer: Josehpequeno <hicarojbs21@gmail.com>
Depends: libc6 (>= 2.28), libgcc-s1 (>= 3.0), liblept5, libstdc++6 (>= 6), libtesseract5 (>= 4.0.0)
Recommends: poppler-utils, wv, unrtf, tidy, tesseract-ocr
Section: utils
Priority: optional
Homepage: https://github.com/Josehpequeno/lumus
Description: PDF reader for terminal
 A command line tool to read PDF files directly in the terminal.
 Provides a minimalistic and distraction-free reading experience.
