Package: lumus
Version: 1.0.0
Source: lumus
Section: unknown
Priority: extra
Maintainer: Josehpequeno <hicarojbs21@gmail.com>
Homepage: https://github.com/Josehpequeno/lumus
Description:  A command line tool to read PDF files directly in the terminal.
Architecture: all
Depends: tesseract-ocr,libleptonica-dev,libtesseract-dev
Installed-Size: 20 kB
Package-Type: deb
