Package: lumus
Version: 1.0
Architecture: amd64
Maintainer: Josehpequeno <hicarojbs21@gmail.com>
Description: A command line tool to read PDF files directly in the terminal.
Depends: tesseract-ocr, libleptonica-dev, libtesseract-dev
